.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  
  li>a {
    padding: 8px 24px;
  }
  
  
  li {
    list-style-type: none;
  }
  
  
  a {
    color: white;
    text-decoration:none;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  
  .button-menu-toggle {
    display: none;
  }

/*
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: fixed;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: inline-block;
    margin-right: 20px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  nav a:hover {
    color: #1BF7DE;
  }
.resto{
padding: 40px;
}

  .cuadro{

    border: #333 solid;
    padding: 40px;
    width: 100px;
    height: 100px;
  }

  body{
    margin: 0px;
  }

*/
@media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
  
    }
  }*/
.imagenes {
    padding: 50px;

    display: flex;
    justify-content: space-between;
    width: 100%;
    border: #fff solid;
    padding: 40px;
}


.centrado{
  border: 1px black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
    align-items: center;
    width: 200px;
    margin: 0 auto;
}
  
.greeting {
  text-align: center;
} 



  @media (max-width: 767px) {
    header {
        background-color: rosybrown;
        font-size: 4px;
        font-family: monospace;
    }
    nav  {
        font-size: 8px;

    }
body {
    background-color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; color: #fff;
    text-align: justify;
}   
.cuadro { 
    border: red solid;
    padding: 40px;
    height: 400px;
    width: 400px;
    
}
  }

 .iframe {
    aspect-ratio: 16 / 9;
    height: 100%;
    width: 100%;
  }